.box {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    width: 38%;
    box-shadow: var(--shadow-md);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 25px;
    border-left: 5px solid transparent;
}

select {
    width: 100%;
    height: 25px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    border-color: darkgray;
}

input {
    width: 38%;
    height: 25px;
    border-radius: 8px;
    border: none;
    padding: 1%;
}
  